/* ¾ÆÄ«µ¥¹Ì¼Ò°³ */
.academy-main .bg-top {background:url('/src/assets/img/bg_academy.jpg') no-repeat center / cover;}
.academy-main .bg-top h3 {padding-top:41rem; font-size:9.6rem; color:#082371; font-family:'Codec-Cold-Heavy-trial'; line-height:1.3; text-align:center; letter-spacing:0; font-weight:700;}
.academy-main .bg-top .bar {width:.3rem; height:10rem; margin:2rem auto 0; background:#082371; text-align:center;}
.academy-main .bg-top .text {width:64rem; margin:5.5rem auto 0 50%; font-size:2.1rem; color:#666; font-weight:300; word-break: keep-all;}
.academy-main .bg-top .text .mt {margin-top:5rem;}
.academy-main .bg-top .text .bold {font-weight:600;}
.academy-main .contents {display:flex; justify-content: space-between; width:138rem; margin:12rem auto 0;}
.academy-main .contents .info h3 {font-size:9.6rem; color:#082371; font-family:'Codec-Cold-Heavy-trial';}
.academy-main .contents .info li {position:relative; padding-left:3rem; font-size:2.1rem; letter-spacing:-.1em; color:#666; font-weight:300;}
.academy-main .contents .info li:before {content:""; position:absolute; left:0; top:10px;  width:1.4rem; height:1.4rem; border-radius:100%; background:#082371;}
.academy-main .contents .info .arrow {margin-top:12rem;}
.academy-main .contents .img {margin-top:-6rem;}
.academy-main .contents.column {flex-direction: column; align-items: center;}

/* ±³À°½Ã¼³¾È³» */
.academy-main.facilities .bg-top {background:url('/src/assets/img/bg_facilities.jpg') no-repeat center / cover;}
.academy-main.facilities .bg-top h3 {padding-top:91rem;}
.sub.facilities .fac-slider{margin-top:12rem;}
.sub.facilities .fac-slider .title-box.sub{display:none;}

/* °­»ç¼Ò°³ */
.academy-main.sub-pt {padding-top:24.5rem;}
.sub-title-area {width:96rem; margin:0 auto;}
.sub-title-area h3 {margin:2rem 0 3rem; font-size:5.6rem; font-weight:800; line-height:1; color:#333;}
.sub-title-area .text01 {font-size:1.4rem; color:rgba(0, 0, 0, .5);}
.sub-title-area .text02 {color:#666;word-break: keep-all;}
.sub-title-area .text02.mt {margin-top:3.5rem;}
.teacher-list {width:144rem; margin:6rem auto 0;}
.teacher-list ul {display:flex; flex-wrap:wrap; gap:40px;}
.teacher-list li {width:33rem; height:50.6rem; padding:6rem 0 0 3rem; border:1px solid #ddd; border-radius:2.4rem; overflow:hidden; cursor:pointer;}
.teacher-list li .name {margin-top:5.5rem; font-size:3rem; font-weight:800; line-height:1.2; color:#333;}
.teacher-list li .name .job {font-weight:300;}
.teacher-list li .discription {margin-top:2.5rem; font-size:1.6rem; color:#061a69; text-decoration: underline; text-underline-offset:4px;}
.teacher-list .tch-item {background-size:90%; background-position:10rem bottom; background-repeat:no-repeat; background-color:#fafafa;}
.teacher-list .thgn-01 {background-image:url('/public/teacher/tch-thgn-01.png');}
.teacher-list .thgn-02 {background-image:url('/public/teacher/tch-thgn-02.png');}
.teacher-list .thgn-03 {background-image:url('/public/teacher/tch-thgn-03.png');}
.teacher-list .thgn-04 {background-image:url('/public/teacher/tch-thgn-04.png');}
.teacher-list .thgn-05 {background-image:url('/public/teacher/tch-thgn-05.png');}
.teacher-list .thgn-06 {background-image:url('/public/teacher/tch-thgn-06.png');}
.teacher-list .thgn-07 {background-image:url('/public/teacher/tch-thgn-07.png');}
.teacher-list .thgn-08 {background-image:url('/public/teacher/tch-thgn-08.png');}
.teacher-list .thgn-09 {background-image:url('/public/teacher/tch-thgn-09.png');}
.teacher-list .thgn-10 {background-image:url('/public/teacher/tch-thgn-10.png');}
.teacher-list .thgn-11 {background-image:url('/public/teacher/tch-thgn-11.png');}
.teacher-list .thgn-12 {background-image:url('/public/teacher/tch-thgn-12.png');}
.teacher-list .thgn-13 {background-image:url('/public/teacher/tch-thgn-13.png');}
.teacher-list .thgn-14 {background-image:url('/public/teacher/tch-thgn-14.png');}
.teacher-list .thgn-15 {background-image:url('/public/teacher/tch-thgn-15.png');}
.teacher-list .thgn-16 {background-image:url('/public/teacher/tch-thgn-16.png');}
.teacher-list .thgn-17 {background-image:url('/public/teacher/tch-thgn-17.png');}
.teacher-list .thgn-18 {background-image:url('/public/teacher/tch-thgn-18.png');}
.teacher-list .thbs-01 {background-image:url('/public/teacher/tch-thbs-01.png');}
.teacher-list .thbs-03 {background-image:url('/public/teacher/tch-thbs-03.png');}
.teacher-list .thbs-04 {background-image:url('/public/teacher/tch-thbs-04.png');}
.teacher-list .thbs-05 {background-image:url('/public/teacher/tch-thbs-05.png');}
.teacher-list .thbs-06 {background-image:url('/public/teacher/tch-thbs-06.png');}
.teacher-list .thbs-08 {background-image:url('/public/teacher/tch-thbs-08.png');}
.teacher-list .thbs-12 {background-image:url('/public/teacher/tch-thbs-12.png');}
.teacher-list .thbs-13 {background-image:url('/public/teacher/tch-thbs-13.png');}
.teacher-list .tch-default {background-image:url('/public/teacher/tch-default.png'); background-size:85%; background-position: 12rem bottom;}
.teacher-list .logo img {width:100%;}
.teacher-list .logo.korean {width:14.1rem; height:3.3rem;}
.teacher-list .logo.emirates {width:9.3rem; height:3.3rem;}
.teacher-list .logo.cathay {width:13.4rem; height:3.3rem;}
.teacher-list .logo.hainan {width:9.4rem; height:3.3rem;}
.teacher-list .logo.kbs {width:8.1rem; height:3.3rem;}
.teacher-list .logo.eastar {width:14.1rem; height:3.3rem;}
.teacher-list .logo.airbusan {width:9.1rem; height:3.3rem;}
.teacher-list .logo.qatar {width:10.1rem; height:3.3rem;}
.teacher-list .logo.asiana {width:5.1rem; height:3.3rem;}
.teacher-list .logo.jeju {width:9.1rem; height:3.3rem;}
.teacher-list .logo.kcrew {width:14.1rem; height:3.3rem;}
.location-filter {width:56rem; margin:0 auto 6rem; padding:.4rem; background:#e6e6e6; border-radius:3rem; overflow:hidden;}
.location-filter.map {width:83.5rem;}
.location-filter button {width:27.4rem; height:5.2rem; font-size:1.7rem; color:rgba(67, 67, 67, .5); border:0; background:#e6e6e6; transition: all 0.3s ease;}
.location-filter button.on {font-weight:500; background:#fff; border-radius:3rem; color:#282828;}

/*ÆË¾÷*/
.overlay { display: none; position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; background: rgba(0,0,0,0.5); z-index: 999;}
.popup { display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background: #fff; z-index: 1000;overflow-y: auto; box-shadow: 0 0 10px rgba(0,0,0,0.3);}
#popupTch{width:56rem; border-radius:20px;}
#popupTch .popup-top{background:var(--main-color);height: 5.5rem;display: flex;justify-content: space-between;padding: 0 4rem;line-height: 5.5rem;align-items: center;padding-right: 3rem;}
#popupTch .popup-top p{font-size: 1.8rem;color: #fff;font-weight: 400;letter-spacing: 0px;}
#popupTch .close-btn{width: 1.9rem;height: 1.9rem;background:url('/src/assets/img/icon_close_black.png')no-repeat;background-size: contain; cursor:pointer;}
#popupTch #popup-content{font-size:3.4rem; font-weight:300; position: relative;}
#popupTch .tch-top{position:relative; min-height:23rem; padding:0 0 2rem 4rem; color:#333;}
#popupTch .logo{width: 12rem;height: 6rem;background-repeat: no-repeat;background-size: contain;margin-bottom: 1rem;}
#popupTch .tch-img{width: 19rem;height: 26rem;overflow: hidden;position: absolute;bottom:-1.8rem; right: 4rem;}
#popupTch .tch-img img{width:100%;}
#popupTch .name{ font-weight:800;}
#popupTch .thumb-txt{font-size:2rem; color:#061a69; line-height: 1.4; padding: 1.5rem 0; text-decoration:underline; text-underline-offset: 4px;}
#popupTch .thumb-txt li{ font-weight: 500;}
#popupTch .teacher-curri{position:relative; min-height:44rem; padding:0 0 2rem 4rem; background:#57bbeb;}
#popupTch .teacher-curri .bar{height:2px; width:100%; background:var(--main-color);}
#popupTch .teacher-curri ul{font-size:1.4rem;color: #051766;}
#popupTch .teacher-curri h4{font-size:1.8rem; font-weight: 700; padding:2rem 0 .5rem; color:#051766; }
#popupTch .teacher-curri::after{content:"";display:block;background: url('/src/assets/img/img_logo_pop.png') no-repeat;width: 17rem;height: 5rem;display: block;background-size: contain;position: absolute;right: 4rem;bottom: 2rem;}
.tch-top .logo.korean{background-image:url('/src/assets/sub/img_logo_korean.png');}
.tch-top .logo.emirates {background-image:url('/src/assets/sub/img_logo_emirates.png');}
.tch-top .logo.hainan{background-image:url('/src/assets/sub/img_logo_hainan.png');}
.tch-top .logo.cathay{background-image:url('/src/assets/sub/img_logo_cathay.png');}
.tch-top .logo.kbs{background-image:url('/src/assets/sub/img_logo_kbs.png');}
.tch-top .logo.eastar{background-image:url('/src/assets/sub/img_logo_estar.png');}
.tch-top .logo.airbusan{background-image:url('/src/assets/sub/img_logo_busan.png');}
.tch-top .logo.qatar{background-image:url('/src/assets/sub/img_logo_qatar.png');}
.tch-top .logo.jeju{background-image:url('/src/assets/sub/img_logo_jeju.svg');}
.tch-top .logo.asiana{background-image:url('/src/assets/sub/img_logo_asiana.png'); background-size: 50% !important;}
.tch-top .logo.kcrew{background-image:url('/src/assets/sub/img_logo.svg');background-position:center;}

/* Ã£¾Æ¿À½Ã´Â±æ */
.locationInfo {width:96rem; margin:8rem auto 0;}
.locationInfo h3 {margin-bottom:2rem; font-size:2.4rem; font-weight:800;}
.locationInfo table {width:100%; border-top:1px solid #333; border-bottom:1px solid #333; color:#333;}
.locationInfo tr {border-top:1px dashed #c7c7c7;}
.locationInfo th {padding:.7rem 0; font-size:2.1rem; font-weight:700; vertical-align:top;}
.locationInfo td {padding:.7rem 0 .7rem 1.5rem; font-size:2.1rem;}
.locationBus {padding-left:1.5rem; position:relative;}
.locationBus:after {content:""; position:absolute; display:block; width:1rem; height:1rem; left:0; top:1.2rem; border-radius:1rem; -moz-border-radius:10px; -webkit-border-radius:10px;}
.locationBus.busGreen:after {background:#30bb37;}
.locationBus.busBlue:after {background:#2368e6;}
.locationBus.busRed:after {background:#df0a0a;}
.link-to-location {display:block; width:32rem; height:4.4rem; margin:6rem auto 0; text-align:center; line-height:4.4rem; font-size:1.6rem; color:#fff; border-radius:1.2rem; background:#07206e;}
.root_daum_roughmap {width:100%!important; border-radius:2.4rem; box-shadow: 0px 5px 12px 0px rgba(35, 31, 32, 0.13);}
.root_daum_roughmap .cont {display:none;}

/* ±³À°°úÁ¤¾È³» */
.curri-banner {position:relative; text-align:center;}
.curri-banner img {margin:0 auto;}
.curri-banner.top2 {margin-top:-1rem;}
.curri-banner h4 {position:absolute; left:17%; bottom:33%; font-size:2.1rem; color:#fff; font-weight:700; font-family: 'Codec-Cold-Bold-trial'; letter-spacing:2px;}
.curri-info-container {width:97rem; margin:11.5rem auto 0;}
.curri-info-container .title {font-size:3.6rem; color:#333;}
.curri-info-container .title span {font-weight:700;}
.curri-info-container .curri-tit {display:flex; align-items:center; margin-top:5.5rem; color:#333;}
.curri-info-container .curri-tit.block {flex-direction:column; align-items:flex-start;}
.curri-info-container .curri-tit span {font-weight:700;}
.curri-info-container .curri-tit .badge {height:2.4rem; line-height:2.4rem; padding:0 1.3rem; margin-left:1rem; font-size:1.5rem; color:#061b6a; background:#57bbeb; border-radius:1.2rem;}
.curri-info-container .curri-tit h5 {font-size:2.4rem; font-weight:300;}
.curri-info-container .curri-tit .sub {font-size:1.7rem;}
.curriculum {display:flex; margin-top:2.4rem; padding:2.7rem 4.7rem; border-radius:2rem; border:1px solid #ddd;}
.curriculum .step {font-size:1.1rem; font-weight:700; color:#b8b8b8;}
.curriculum ul {width:50%;}
.curriculum ul.w100 {width:100%;}
.curriculum li:first-child {margin:0;}
.curriculum li {margin-top:2.4rem; font-size:1.9rem; font-weight:600; color:#061b6a;}
.curriculum li .badge {display:inline-block; padding:0 1.3rem; margin-left:.5rem; font-size:1.5rem; border:1px solid #57bbeb; color:#57bbeb; border-radius:2rem;}
.curriculum li .light {margin-left:.5rem; font-weight:400;}
.sub-review .review-slider {position:relative;}
.sub-review .review-slider:before {content:""; width:.4rem; height:10rem; background:#000; position:absolute; left:50%; top:-16rem; transform:translateX(-50%);}
.sub-review .link-btn {display:none;}
.benefit .swiper-slide {width:60rem;}
.benefit .img {position:relative; width:60rem; height:36rem; border-radius:4.8rem; box-shadow: 0px 5px 12px 0px rgba(35, 31, 32, 0.13); overflow:hidden;}
.benefit .img .number {position:absolute; left:3rem; top:3.9rem; font-size:1.4rem; color:#fff; font-weight:500;}
.benefit .discription {margin-left:2.8rem;}
.benefit .discription .tit {margin:3.5rem 0 2rem; font-size:2.5rem; font-weight:700;}
.benefit .discription .text {font-size:1.7rem; color:#999;}

/* ¾îÇÐÁ¤º¸ */
.langs-top {display:flex; align-items:center; gap:30px; margin-top:5.5rem;}
.langs-top .box {display:flex; align-items:center; width:30rem; height:8rem; padding-left:2.9rem; border:1px solid #e0e0e0; border-radius:2.4rem; color:#333;}
.langs-top .img {padding-right:1.4rem;}
.langs-top .tit {font-size:1.5rem; color:#666;}
.langs-top .text {font-size:1.7rem; font-weight:700;}

/* ÀÔ½ÃÁ¤º¸ */
.univers-contents {display:flex; width:96rem; margin:0 auto; gap:30px;}
.univers-contents.mt {margin:3rem auto 0;}
.univers-contents .box {margin-top:4rem; border-top:2px solid #061b6a; color:#333;}
.univers-contents .box.left {width:30rem; flex: 0 0 auto;}
.univers-contents .box .text {font-size:1.7rem; color:#666;}
.univers-contents .box .mt {margin-top:4rem;}
.univers-contents .badge {display: inline-block; height:2.4rem; line-height:2.4rem; padding:0 1.3rem; color:#061b6a; border-radius:1.2rem; background:#57bbeb; font-size:1.5rem;}
.univers-contents h4 {display:flex; align-items:center; gap:10px; margin:4rem 0 1rem; font-size:2.4rem; font-weight:700;}
.univers-contents .clgpImg {margin-top:3rem;}
.univers-contents .clgpImg img {width:100%;}
.univers-contents dl {display:flex; gap:10px;}
.d-flex {display:flex; gap:12px;}
.d-flex .title {flex:0 0 auto; height:2.4rem; line-height:2.4rem; padding:0 1.3rem; font-size:1.5rem; color:#061b6a; background:#57bbeb; border-radius:1.2rem;}
.d-flex .title.w89 {min-width:8.9rem;}
.cooperation-logo {display:block; width:123rem; margin:3rem auto 0;}
.cooperation-logo button {width:13rem; height:14.3rem; background-repeat:no-repeat; background-position:center; background-size:100%; background-color:#fff; border:0;}
.cooperation-logo .logo01 {background-image:url('/src/assets/img/uniLogo/partner_logo_kmu.png');}
.cooperation-logo .logo02 {background-image:url('/src/assets/img/uniLogo/partner_logo_lcb.png');}
.cooperation-logo .logo03 {background-image:url('/src/assets/img/uniLogo/partner_logo_bcu.png');}
.cooperation-logo .logo04 {background-image:url('/src/assets/img/uniLogo/partner_logo_chodang.png');}
.cooperation-logo .logo05 {background-image:url('/src/assets/img/uniLogo/partner_logo_jei.png');}
.cooperation-logo .logo06 {background-image:url('/src/assets/img/uniLogo/partner_logo_seowon.png');}
.cooperation-logo .logo07 {background-image:url('/src/assets/img/uniLogo/partner_logo_kdu.png');}
.cooperation-logo .logo08 {background-image:url('/src/assets/img/uniLogo/partner_logo_sangji.png');}
.cooperation-logo .logo09 {background-image:url('/src/assets/img/uniLogo/partner_logo_seoyeong.png');}
.cooperation-logo .logo10 {background-image:url('/src/assets/img/uniLogo/partner_logo_dowon.png');}
.cooperation-logo .logo11 {background-image:url('/src/assets/img/uniLogo/partner_logo_dongseoul.png');}
.cooperation-logo .logo12 {background-image:url('/src/assets/img/uniLogo/partner_logo_howon.png');}
.cooperation-logo .logo13 {background-image:url('/src/assets/img/uniLogo/partner_logo_gangdong.png');}
.cooperation-logo .logo14 {background-image:url('/src/assets/img/uniLogo/partner_logo_joongbu.png');}
.cooperation-logo .logo15 {background-image:url('/src/assets/img/uniLogo/partner_logo_sehan.png');}
.cooperation-logo .logo16 {background-image:url('/src/assets/img/uniLogo/partner_logo_yeonsung.png');}
.cooperation-logo .logo17 {background-image:url('/src/assets/img/uniLogo/partner_logo_daelim.png');}
.cooperation-logo .logo18 {background-image:url('/src/assets/img/uniLogo/partner_logo_scau.png');}
.cooperation-logo .logo01.on {background-image:url('/src/assets/img/uniLogo/partner_logo_kmu_color.png');}
.cooperation-logo .logo02.on {background-image:url('/src/assets/img/uniLogo/partner_logo_lcb_color.png');}
.cooperation-logo .logo03.on {background-image:url('/src/assets/img/uniLogo/partner_logo_bcu_color.png');}
.cooperation-logo .logo04.on {background-image:url('/src/assets/img/uniLogo/partner_logo_chodang_color.png');}
.cooperation-logo .logo05.on {background-image:url('/src/assets/img/uniLogo/partner_logo_jei_color.png');}
.cooperation-logo .logo06.on {background-image:url('/src/assets/img/uniLogo/partner_logo_seowon_color.png');}
.cooperation-logo .logo07.on {background-image:url('/src/assets/img/uniLogo/partner_logo_kdu_color.png');}
.cooperation-logo .logo08.on {background-image:url('/src/assets/img/uniLogo/partner_logo_sangji_color.png');}
.cooperation-logo .logo09.on {background-image:url('/src/assets/img/uniLogo/partner_logo_seoyeong_color.png');}
.cooperation-logo .logo10.on {background-image:url('/src/assets/img/uniLogo/partner_logo_dowon_color.png');}
.cooperation-logo .logo11.on {background-image:url('/src/assets/img/uniLogo/partner_logo_dongseoul_color.png');}
.cooperation-logo .logo12.on {background-image:url('/src/assets/img/uniLogo/partner_logo_howon_color.png');}
.cooperation-logo .logo13.on {background-image:url('/src/assets/img/uniLogo/partner_logo_gangdong_color.png');}
.cooperation-logo .logo14.on {background-image:url('/src/assets/img/uniLogo/partner_logo_joongbu_color.png');}
.cooperation-logo .logo15.on {background-image:url('/src/assets/img/uniLogo/partner_logo_sehan_color.png');}
.cooperation-logo .logo16.on {background-image:url('/src/assets/img/uniLogo/partner_logo_yeonsung_color.png');}
.cooperation-logo .logo17.on {background-image:url('/src/assets/img/uniLogo/partner_logo_daelim_color.png');}
.cooperation-logo .logo18.on {background-image:url('/src/assets/img/uniLogo/partner_logo_scau_color.png');}
.swiper-logo {display:none;}

.support-list {display: flex; flex-wrap: wrap; width: 99rem; margin: 10rem auto 0;}
.support-list .text {width:49.5rem; height:20.3rem; padding:2rem; font-size:2rem; color:#333;}
.support-list .text span {font-weight:700; color:#082371;}
.customer .cont-box.mt {margin:3rem auto 10rem;}


.sub-title-area .text02{font-size:2.1rem;}
.sub-pt{padding-top:24.5rem;}

/*»ó´ã¼¾ÅÍ tuition*/
.customer .container-tuition{margin:0; width:auto; margin-bottom:25rem;}
.customer .cont-box{max-width:96rem; margin:0 auto; width:100%; position:relative; color:#333;} 
.customer .tuitionHope li button.delete {border:none;display:inline-block; width:1.2rem; height:1.2rem; margin-left:1rem; background:url('/src/assets/img/icon_check_black.png') center center no-repeat;}
.customer .tui-local-check li{width:100%;}
.customer .tui-local-check {flex-wrap: nowrap;}
.tuition-section a.button {font-size:1.6rem; height:4.4rem; line-height:4.4rem; border:0; border-radius:1.2rem; background:#07206e; color:#fff; display:block;text-align:center;}
.customer .tui-local-check li label{margin-left:0;}
.textar{position: absolute; height:12.5rem; width:90%; resize:none;}
.tuitionHope li b{ font-weight:500; margin-right:3px;}
.tuition-section .tui-control{position:relative;}
.customer .privacyAgree{position: absolute;  right: 0;}
.customer.complete .cont-box{margin-top:6rem;}
.customer.complete .tuitionBtn{display:flex; gap: 2rem;}
.customer.complete .tuitionBtn a{display:block; width:100%; }

.tui-time-check {display:flex; flex-wrap:wrap; gap:10px;}
.tui-time-check li label {display:block; width:15.5rem; height:4.4rem; line-height:4.4rem; text-align:center; font-size:1.6rem; background:#eaeaea; border-radius:1.2rem; margin-left:0;}
.tui-time-check li input:checked + label {color:#051766; background:#57bbeb;}
.tui-time-check li input:checked:after {display:none;}
.tui-time-check li input{display:none;}

.tuitionType02{margin-top:5rem;}
.tuitionType02 .title{font-size:1.5rem; font-weight:700; margin-bottom:1.5rem;}
.tuitionType02 ul{ width:100%; display:flex;}
.tuitionType02 ul li{width:20%; font-size:1.4rem; margin-bottom:3rem;}
.tuitionType02 ul li label {margin-left:.5rem;}

/*community*/
.community .cont-box{max-width:144rem; margin:0 auto; width:100%;}
.community .cont-box .container.view{max-width:96rem; margin:0 auto; width:100%;}
.community .cont-box .container {margin:0 auto;}

.photoList {margin-top:6rem;display: flex;flex-wrap: wrap; margin-left: -3rem;}
.photoList li {width: calc(100% / 3 - 3rem);margin-left: 3rem;margin-bottom: 4.5rem; color:#333;}
.photoList li a div {padding-bottom:69.6%; position:relative; overflow:hidden;border-radius: 4.8rem;}
.photoList li a div em {display:block; position:absolute; left:0; right:0; top:0; bottom:0; background-size:cover !important; background-position:center center !important; background-color:#ddd;}
.photoList.seminarList li a div {padding-bottom: 0; height: 450px;}
.photoList li a h6 {font-weight: 300;font-size: 1.8rem;letter-spacing: normal;margin-top: 0.5rem;}
.photoList li a h5 {font-size: 2.1rem;text-overflow:ellipsis;font-weight: 700;margin-top: 2.5rem;}

.brdvTitle {border-bottom: solid 2px #061b6a;position:relative;padding-bottom: 6rem;}
.brdvTitle:after {content:""; display:table; clear:both;}
.brdvTitle h4 {max-width: 100%;font-size: 4rem;font-weight: 800;}
.brdvTitle .date{ font-size: 2.1rem; color: #9a9a9a; font-weight: 500;}
.brdvCont {border-bottom:solid 2px #061b6a; padding:5rem 0;}
.brdvCont img {display:block; margin:0 auto; max-width:100%;}
.brdvBtn {margin-top:5.8rem;}
.brdvBtn .go-list{display:block; width:32rem; margin: 0 auto; line-height:4.4rem; height:4.4rem; font-size:1.6rem; border-radius:1.2rem; background:#061b6a; text-align:center; color:#fff;}

.review .postList {margin-top: 6rem;display: flex;flex-wrap: wrap; margin-left: -3rem;}
.review .postList li {transition:all 0.5s;width: calc(100% / 5 - 3rem);margin-left: 3rem;margin-bottom:3rem;box-shadow: 0px 5px 10px rgba(0,0,0,0.13);height: 40rem;border-radius: 4.8rem;}
.review .postList li:hover{box-shadow:0px 5px 10px rgb(86 188 235 / 70%); }
.review .postList li a {display:block;position:relative;width: 100%;height: 100%;padding: 8rem 3rem 4rem 3rem; color:#333;}
.review .postList li a em {box-shadow:inset 0 5px 5px rgba(0,0,0,0.13); display:block; width:10rem; height:10rem; margin:0 auto; background-size:cover !important; background-position:center center !important; border-radius: 50%; }
.review .postList li a h6 {font-weight:400;position:absolute;right: 3rem;top: 4rem;font-size:1.4rem;}
.review .postList li a h6 span {font-weight:700;}
.review .postList li a h5 {font-size: 1.6rem;text-align: left;font-weight: 400;color: #a8a8a8;}
.review .postList li a h5 div {font-size: 2.1rem;padding: 2rem 0;font-weight: 700;color: #282828;}
.review .postList li a h5 div span{font-weight:300; margin-left:3px;}
.review .postList li a dd{font-size:1.4rem;font-weight:400;opacity:0.5;position: absolute;bottom: 4rem;left: 3rem;}
.review .loca{font-size:1.4rem;font-weight:400;position:absolute;left: 3rem;top: 4rem;}

.st-review .cont-box{margin-top:6rem;max-width: 123rem;}
.st-review .ttalk200_layer .tt_inputWrap .tt_topMenu .rf_search input{height:3rem;}

.pfvideo {position: relative; padding-bottom: 56.25%; height: 0;}
.wtpCurri .pfvideo {width: 100%;}
.pfvideo iframe {display:block; position: absolute; top: 0; left: 0; width: 100%; height: 100%;}

/*·Î±×ÀÎ&È¸¿ø°¡ÀÔ*/
.member .cont-box{max-width:96rem; width:100%; margin:0 auto; margin-top:6rem;}
.member .login-area li{margin-bottom:2rem;}
.member .login-area label{font-size:1.4rem; color:#051866; display:block; margin-bottom:1.5rem;}
.login-box input[type="text"],.login-box input[type="password"],.login-box select{height:5.4rem;}

.login .cont-box{display:flex; gap:6rem; color:#333;}
.login .txt-box{max-width: 49.4rem;width: 100%;}
.login .txt-box .item{border-radius:2.4rem; border:1px solid #e0e0e0; padding:2rem 3rem; display:flex; gap:2rem; margin-bottom:2rem;}
.login .txt-box .item div{font-size:1.7rem; font-weight:700;}
.login .txt-box p{font-size:1.5rem;color:#666666;font-weight: 300;}
.login .login-box{ flex: 1;}
.login .login-btm-btn{ display: flex; align-items: center; justify-content: flex-end;}
.login .login-btm-btn li{ position: relative;  margin: 0 0.7rem;}
.login .login-btm-btn li + li::before{content:"";width:1px;height:10px;background:#051866;display:block;position: absolute;left: -7px;top: 6px;}
.login .login-btm-btn li a{font-size:1.4rem;color:#051866; padding:0 1rem;}

.member.join .cont-box{margin-bottom:19rem;}
.member.join .joinstep02{margin-top:5rem;}

.joinStep {display: block;width:auto; margin: 0 auto;}
.joinPrivacy {width:100%;height:250px;overflow-y:scroll;border: 1px solid #dddddd;padding:20px;line-height:1.5;margin: 2rem 0;border-radius: 2rem;}
.joinPrivacyCont {font-size: 1.3rem;color: #999999;}
.joinPrivacyCont h2 {margin-top:2rem;margin-bottom:10px;font-size: 1.4rem;}
.joinPrivacyCont h3 {margin:1rem 0; font-size:1.3rem;}
.joinPrivacyTitle {font-size: 2.4rem;margin-top: 5rem;font-weight: 300;}
.joinChkAgree {font-size: 1.5rem; margin-top:2rem;}
.joinChkAgree label {margin-left:.5rem;}
.JoinBtn{margin-top:7rem;}
.JoinBtn a{width:32rem; margin:0 auto;}


.sub.joinComplete{background: url("/src/assets/img/member_complete_bg.jpg")no-repeat;background-position: 0 44%;}
.sub.joinComplete .sub-pt{ padding-bottom: 42rem;}
.sub.findpw{background: url("/src/assets/img/member_complete_bg.jpg")no-repeat;background-position: 0 33%;}
.sub.findpw .sub-pt{ padding-bottom: 42rem;}
.sub.findpw .cont-box{width:38rem;}
.sub.findpw .idSearchTel{display: flex;}
.sub.findpw .idSearchTel select{width:10rem;}
.sub.findpw .idSearchTel li{margin-bottom:0;}

.joinSuccess {margin-top:6rem;text-align:center; display:block; }
.joinSuccess h4 {font-size:4.2rem; font-weight:800; }
.joinSuccess p {font-size: 2.1rem; padding-top:4rem; color: #666666; }
.joinSuccess ul {display:flex; margin-top:6rem; gap:2rem;}
.joinSuccess ul li {width:100%;}
.joinSuccess ul li a {display:block; width:100%;}


.tuitionTable.join .tui-local-check{display: flex;flex-wrap: nowrap;}
.tuitionTable.join .tui-local-check li{width: auto;}
.tuitionTable.join .tui-local-check li label{margin-left:0;}
.tuitionTable.join tr{border-bottom:1px solid rgb(230 230 230);}
.tuitionTable.join tr th, .tuitionTable tr td{background:none; border:none;}
.tuitionTable.join tr:last-child td{border:none;}
.tuitionTable.join select#mem_hp1, .tuitionTable.join input#mem_hp2, .tuitionTable.join input#mem_hp3{width:15rem;}
.joinDesc{display:block; margin-top:1rem;}
.idChkDesc{display:block;  margin-top:1rem;}
.joinIdChk{display: block;color:#fff;width: 15.5rem;height:4.4rem;line-height:4.4rem;text-align: center;font-size: 1.6rem;background: #07206e;border-radius: 1.2rem;position: absolute;left: 31rem;top: 1.6rem;}
#id-input-area{ position: relative;}

/*customer-banner*/
.customer-banner{height:32rem;overflow:visible; margin-top:5.5rem; margin-bottom:8rem;}
.customer-banner .swiper-slide{border-radius:4.8rem;width:96rem;color: #fff;box-shadow: 0px 10px 20px rgb(0 0 0 / 13%);}
.customer-banner .swiper-slide a{display: flex;flex-direction: column;justify-content: flex-end;width:100%; height:100%;padding:6.4rem;}
.customer-banner span{font-size:1.4rem; font-weight:500;}
.customer-banner p{font-size:3rem; font-weight:700;}

/* °³ÀÎÁ¤º¸Ã³¸®¹æÄ§ */
.privacy-content {width:96rem; margin:0 auto 10rem;}
.privacy-content .mt {margin:3rem 0 0;}
.privacy-content table {width:100%;}
.privacy-content th {background:#eee;}
.map-iframe {border-radius: 2.4rem; box-shadow: 0px 5px 12px 0px rgba(35, 31, 32, 0.13);}